{% extends "expensesapp/account_details.html" %}

{% block form_items %}

    <h2>Preferences <span class="badge bg-warning">Editing</span></h2>
    <form id="edit-form" action="{% url "expensesapp:account_edit" %}" method="post">
        {% csrf_token %}

        <div class="row mt-2">
            <div class="col">
                <dl class="row mb-0">
                    <dt class="col-12 col-sm-4">Default currency</dt>
                    <dd class="col-12 col-sm-8 mt-1 mt-sm-0 mb-3">
                        {{ account_edit_form.default_currency }}
                    </dd>
                    {% if request.user.is_direct_manager %}
                        <h4 class="my-2">Manager Preferences</h4>
                        <dt class="col-12 col-sm-4">Your substitute <span class="text-muted">(optional)</span></dt>
                        <dd class="col-12 col-sm-8 mt-1 mt-sm-0 mb-3">
                            {{ account_edit_form.substitute_email }}
                            {% for error in account_edit_form.substitute_email.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            <div id="substitute-email-describer" class="form-text">
                                Your substitute will be able to manage your team's expenses.
                            </div>
                        </dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </form>

{% endblock %}

{% block edit_buttons %}

    <div class="row">
        <div class="col">
            <div class="row justify-content-end gy-2 mb-2">
                <div class="col-auto text-nowrap">
                    <a class="btn btn-secondary" href="{% url "expensesapp:account_details" %}">
                        <i class="fas fa-undo symbol-secondary"></i> Discard Changes
                    </a>
                </div>
                <div class="col-auto text-nowrap submit-with-symbol">
                    <i class="fas fa-save text-white"></i>
                    <input class="btn btn-primary text-white" form="edit-form" type="submit" value="Save Changes">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block add_receipt %}{% endblock %}

{% block receipt_prompt %}{% endblock %}

{% block delete_submit %}{% endblock %}

{% block scripts %}

    <script>

      $(document).ready(function () {

        // Manual override of the 'default_currency' form field to implement Bootstrap formatting
        let default_currency_elem = document.getElementById("{{ account_edit_form.default_currency.id_for_label }}");
        default_currency_elem.classList.add("form-select");
        default_currency_elem.classList.add("border-warning");

        // Manual override of the 'substitute_email' form field to implement Bootstrap formatting
        let substitute_email_elem = document.getElementById("{{ account_edit_form.substitute_email.id_for_label }}");
        substitute_email_elem.classList.add("form-control");
        substitute_email_elem.setAttribute("aria-describedby", "substitute-email-describer");
        {% if account_edit_form.substitute_email.errors %}
          substitute_email_elem.classList.add("is-invalid");
        {% else %}
          substitute_email_elem.classList.add("border-warning");
        {% endif %}

      });

    </script>

{% endblock %}
