{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags required for Bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'expensesapp/style.css' %}" />

    <!-- Title -->
    <title>Expenses FDM</title>
</head>
<body>
    <div>
        <h1>Expenses App for FDM</h1>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript plugins -->
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
</body>
</html>