{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta tags required for Bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static "expensesapp/style.css" %}"/>

    <!-- Title -->
    {% block title %}<title>FDM Expenses Portal</title>{% endblock %}

</head>
<body id="standard-body">

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "expensesapp:home" %}">
            <img src="{% static "expensesapp/images/logo.png" %}" alt="logo" width="68" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "expensesapp:home" %}" id="home-link">HOME</a>
                </li>
                {% if request.user.is_manager %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "expensesapp:manager" %}" id="manager-link">MANAGER</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "expensesapp:account_details" %}" id="account-link">ACCOUNT</a>
                </li>
            </ul>
            <span class="navbar-text">
                FDM Expenses Portal
            </span>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
    <div class="container overflow-hidden">
        <div class="row justify-content-center" role="alert">
            <div class="col-12 col-lg-9 col-xl-8 col-xxl-7">
                <div class="row justify-content-end align-items-center alert alert-info gy-2 py-2 px-2">
                    <div class="col px-1">
                        Welcome, <b>{{ user.first_name }} {{ user.last_name }}</b> ({{ user.email }})
                    </div>
                    <div class="col-auto px-1">
                        <a class="btn btn-dark" href="{% url "account_logout" %}">
                            <i class="fas fa-sign-out-alt"></i> Sign Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% block content %}{% endblock %}

<br>

<!-- JavaScript plugins -->
<script src="{% static "vendor/bootstrap/dist/js/bootstrap.bundle.js" %}"></script>
<script src="{% static "vendor/jquery/jquery-3.6.0.min.js" %}"></script>
<script src="https://kit.fontawesome.com/b895e44baa.js" crossorigin="anonymous"></script>

<script>

  <!-- Disable form submit buttons upon form submission, to prevent multiple submissions -->
  $("form").submit(function () {
    $(this).find("button[type='submit'],input[type='submit']").prop("disabled", true);
  });

</script>

<!-- Page-specific scripting -->
{% block scripts %}{% endblock %}

</body>
</html>