{% extends "expensesapp/claim_details.html" %}

{% block back_button %}{% endblock %}

{% block header %}

    <h2>Details <span class="badge bg-warning">Editing</span></h2>

{% endblock %}

{% block form_items %}
    <form id="edit-form" action="{% url "expensesapp:claim_edit" claim.reference %}" method="post">
        {% csrf_token %}
        <div class="row mb-2 gx-5 gy-3">
            <div class="col-12 col-xl-6">
                <dl class="row mb-0">
                    <dt class="col-sm-4">Claimant name</dt>
                    <dd class="col-sm-8">{{ claim.owner.first_name }} {{ claim.owner.last_name }}</dd>
                    <dt class="col-sm-4">Claimant email</dt>
                    <dd class="col-sm-8">{{ claim.owner.email }}</dd>
                    <dt class="col-sm-4">Currency</dt>
                    <dd class="col-sm-8">{{ claim.currency|capfirst }}</dd>
                </dl>
                <dl class="row mb-0 pt-3 pb-2 bg-light border rounded">
                    <dt class="col-sm-4">Status</dt>
                    <dd class="col-sm-8">
                        <span class="badge rounded-pill badge-status bg-status-{{ claim.get_status_display|lower }}">
                            {{ claim.get_status_display }}
                        </span>
                    </dd>
                    <dt class="col-sm-4">Creation date</dt>
                    <dd class="col-sm-8">{{ claim.creation_datetime|date:"D jS M, Y, g:i a" }}</dd>
                    {% if claim.submission_datetime %}
                        <dt class="col-sm-4">Submission date</dt>
                        <dd class="col-sm-8">{{ claim.submission_datetime|date:"D dS M, Y, g:i a" }}</dd>
                    {% endif %}
                    {% if claim.status == "5" %}
                        <dt class="col-sm-4">Rejection date</dt>
                        <dd class="col-sm-8">{{ claim.status_update_datetime|date:"D dS M, Y, g:i a" }}</dd>
                    {% endif %}
                </dl>
            </div>
            <div class="col-12 col-xl-6">
                <dl class="row mb-0">
                    <dt class="col-sm-4">Description</dt>
                    <dd class="col-sm-8 mt-1 mt-sm-0 mb-3">
                        <span class="text-danger"></span>
                        {{ claim_edit_form.description }}
                        {% for error in claim_edit_form.description.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <div id="description-describer" class="form-text">The description can be up to 50 characters
                            long.
                        </div>
                    </dd>
                    <dt class="col-sm-4">Number of receipts</dt>
                    <dd class="col-sm-8">{{ claim.get_receipts_count }}</dd>
                    {% if claim.receipts.all %}
                        <dt class="col-sm-4">Dates incurred</dt>
                        <dd class="col-sm-8">{{ claim.get_string_dates_incurred }}</dd>
                        <dt class="col-sm-4">Total amount</dt>
                        <dd class="col-sm-8">{{ claim.get_string_total_amount }}</dd>
                        <dt class="col-sm-4">Total {{ claim.currency.get_vat_name_display }}</dt>
                        <dd class="col-sm-8">{{ claim.get_string_total_vat_and_percent }}</dd>
                        <dt class="col-sm-4">Highest {{ claim.currency.get_vat_name_display }} %</dt>
                        <dd class="col-sm-8">{{ claim.get_string_highest_vat }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </form>

{% endblock %}

{% block edit_buttons %}

    <div class="row">
        <div class="col">
            <div class="row justify-content-end gy-2">
                <div class="col-auto text-nowrap">
                    <a class="btn btn-secondary" href="{% url "expensesapp:claim_details" claim.reference %}">
                        <i class="fas fa-undo symbol-secondary"></i> Discard Changes
                    </a>
                </div>
                <div class="col-auto text-nowrap submit-with-symbol">
                    <i class="fas fa-save text-white"></i>
                    <input class="btn btn-primary text-white" form="edit-form" type="submit" value="Save Changes">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block add_receipt %}{% endblock %}

{% block receipt_prompt %}{% endblock %}

{% block action_buttons %}{% endblock %}

{% block scripts %}

    <script>

      $(document).ready(function () {

        // Manual override of the 'description' form field to implement Bootstrap formatting
        let description_elem = document.getElementById("{{ claim_edit_form.description.id_for_label }}");
        description_elem.classList.add("form-control");
        description_elem.setAttribute("aria-describedby", "description-describer");
        {% if claim_edit_form.description.errors %}
          description_elem.classList.add("is-invalid");
        {% else %}
          description_elem.classList.add("border-warning");
        {% endif %}

        // Reveal the slow-to-load form area
        let form_area = document.getElementById("js-area");
        form_area.style.display = "block";

      });

    </script>

{% endblock %}
