{% extends "expensesapp/base.html" %}


{% block content %}

    <div class="container">

        {% block header %}{% endblock %}

        <div class="row mt-2">
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-4">Claimant</dt>
                    <dd class="col-sm-8">
                        <dl class="row mb-0">
                            <dt class="col-5 col-sm-auto">Full Name</dt>
                            <dd class="col-7 col-sm-8">{{ claim.owner.first_name }} {{ claim.owner.last_name }}</dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-5 col-sm-auto">Username</dt>
                            <dd class="col-7 col-sm-8">{{ claim.owner.username }}</dd>
                        </dl>
                    </dd>
                    <dt class="col-5 col-sm-4">Creation Date</dt>
                    <dd class="col-7 col-sm-8">{{ claim.creation_datetime}}</dd>

                    {% block description %}{% endblock %}

                </dl>
            </div>
        </div>
    </div>

{% endblock %}
