{% extends "expensesapp/base.html" %}

{% block content %}

    <div class="container">

        {% block header %}

            <h1 class="mb-0">{{ claim|title }}</h1>

        {% endblock %}

        <hr>
        <h2>Claim Summary</h2>

        {% block form_items %}

            <div class="row mt-2">
                <div class="col">
                    <dl class="row">
                        <dt class="col-sm-4">Claimant full name</dt>
                        <dd class="col-sm-8">{{ claim.owner.first_name }} {{ claim.owner.last_name }}</dd>
                        <dt class="col-sm-4">Claimant email address</dt>
                        <dd class="col-sm-8">{{ claim.owner.email }}</dd>
                        <dt class="col-sm-4">Currency</dt>
                        <dd class="col-sm-8">{{ claim.currency|capfirst }}</dd>
                        <dt class="col-sm-4">Registration</dt>
                        <dd class="col-sm-8">{{ claim.creation_datetime }}</dd>
                        <dt class="col-sm-4">Status</dt>
                        <dd class="col-sm-8">
                            {% if claim.status == "1" %}
                                <span class="badge rounded-pill badge-status bg-status-draft">
                                {{ claim.get_status_display }}
                            </span>
                            {% elif claim.status == "2" %}
                                <span class="badge rounded-pill badge-status bg-status-pending">
                                {{ claim.get_status_display }}
                            </span>
                            {% elif claim.status == "3" %}
                                <span class="badge rounded-pill badge-status bg-status-sent">
                                {{ claim.get_status_display }}
                            </span>
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4">Description</dt>
                        <dd class="col-sm-8">{{ claim.description }}</dd>
                        <dt class="col-sm-4">Number of Receipts</dt>
                        <dd class="col-sm-8">{{ claim.get_receipts_count }}</dd>
                        <dt class="col-sm-4">Total amount</dt>
                        <dd class="col-sm-8">{{ claim.get_string_total_amount }}</dd>
                        <dt class="col-sm-4">Total {{ claim.currency.get_vat_name_display }}</dt>
                        <dd class="col-sm-8">{{ claim.get_string_total_vat_and_percent }}</dd>
                    </dl>
                </div>
            </div>

        {% endblock %}

        {% block edit_buttons %}

            <div class="col">
                <div class="row justify-content-end">
                    <div class="col-auto text-nowrap">
                        <a class="btn btn-secondary"
                           href="{% url "expensesapp:claim_edit" claim.reference %}">
                            <i class="fas fa-edit symbol-secondary"></i> Edit Claim
                        </a>
                    </div>
                </div>
            </div>

        {% endblock %}

        <hr>
        <div class="row justify-content-between align-items-center mb-2">
            <div class="col-auto">
                <h2>Receipts</h2>
            </div>

            {% block add_receipt %}

                <div class="col">
                    <div class="row justify-content-end">
                        <div class="col-auto text-nowrap">
                            <a class="btn btn-primary text-white"
                               href="{% url "expensesapp:receipt_new" claim.reference %}">
                                <i class="fas fa-plus"></i> Add Receipt
                            </a>
                        </div>
                    </div>
                </div>

            {% endblock %}

        </div>
        {% if claim.get_receipts_list %}
            {% block receipt_prompt %}
                <p class="mb-2">
                    <span class="d-sm-none">Tap</span>
                    <span class="d-none d-sm-inline-flex ">Click</span>
                    a receipt to view more details.
                </p>
            {% endblock %}
            <div class="row mt-2">
                <div class="table-responsive">
                    <table class="table table-hover table-primary mb-0">
                        <thead>
                        <tr>
                            <th scope="col">Reference</th>
                            <th scope="col">Date Incurred</th>
                            <th scope="col">Category</th>
                            <th scope="col">Amount</th>
                            <th scope="col">{{ claim.currency.get_vat_name_display }}</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for receipt in claim.get_receipts_list %}
                            <tr class="clickable-row"
                                data-href="{% url "expensesapp:receipt_details" receipt.reference %}">
                                <td>{{ receipt.reference }}</td>
                                <td>{{ receipt.date_incurred }}</td>
                                <td>{{ receipt.category }}</td>
                                <td class="text-nowrap">{{ receipt.get_string_amount }}</td>
                                <td><span class="text-nowrap">{{ receipt.get_string_vat }}</span> ({{ receipt.get_string_vat_percent }})</td>
                                <td>{{ receipt.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <p>There are no receipts linked to this claim.</p>
        {% endif %}
        <hr>

        {% block delete_submit %}

            <div class="row justify-content-end mt-3">
                <div class="col-auto mt-2">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#delete-claim-modal">
                        <i class="fas fa-trash-alt"></i>
                        Delete Claim
                    </button>
                </div>
                <div class="col-auto mt-2">
                    <a class="btn btn-themed" href="#">
                        <i class="fas fa-paper-plane"></i>
                        Submit Claim
                    </a>
                </div>
            </div>

        {% endblock %}

    </div>

    <!-- Modal for deleting the claim -->
    <div class="modal" id="delete-claim-modal" tabindex="-1" aria-labelledby="delete-claim-modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-claim-modal-label">Delete Claim?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete
                        <b>{{ claim|title }}</b>?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{% url "expensesapp:claim_delete" claim.reference %}" method="post">
                        {% csrf_token %}
                        {{ claim_delete_form.claim }}
                        <input type="submit" value="Yes, delete" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

      // Make the rows in the table clickable using jQuery
      {% if claim.get_receipts_list %}
        jQuery(document).ready(function ($) {
          $(".clickable-row").click(function () {
            window.location = $(this).data("href");
          });
        });
      {% endif %}

    </script>

{% endblock %}
