{% extends "expensesapp/claim_base.html" %}

{% block header %}

    <div class="row justify-content-between align-items-center">
        <div class="col-lg-auto">
            <h3 class="mb-0">Expenses Claim (ref: {{ claim.reference }}) <span class="badge bg-warning">Editing</span></h3>
        </div>

        <div class="col-lg-auto">
            <div class="row justify-content-end">
                <div class="col-auto mt-2 mt-lg-0">
                    <a class="btn btn-secondary" href="{% url "expensesapp:claim_details" claim.reference %}">
                        <i class="fas fa-undo symbol-secondary"></i> Discard Changes
                    </a>
                </div>
                <div class="col-auto mt-2 mt-lg-0 submit-with-symbol">
                    <i class="fas fa-save symbol-primary"></i>
                    <input class="btn btn-primary" form="edit-form" type="submit" value="Save Changes">
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block description %}

    <dt class="col-12 col-sm-4">Description</dt>
    <dd class="col-12 col-sm-8 mt-1 mt-sm-0">
        <form id="edit-form" action="{% url "expensesapp:claim_edit" claim.reference %}" method="post">
            {% csrf_token %}
            {{ form.description }}
            <div id="desc-input-describer" class="form-text">The description can be up to 50 characters long.</div>
        </form>
    </dd>

{% endblock %}


{% block scripts %}

    <script>
        // Manual override of the 'description' form field to implement Bootstrap formatting
        description_input_element = document.getElementById("{{ form.description.id_for_label }}");
        description_input_element.classList.add("form-control");
        description_input_element.classList.add("border-warning");
        description_input_element.setAttribute("aria-describedby", "desc-input-describer");
        // Manual override of the 'description' form field to pre-populate current description
        description_input_element.setAttribute("value", "{{ claim.description }}");
    </script>

{% endblock %}
