{% extends "expensesapp/base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-auto">
                <h3 class="mb-0">Your Expense Claims</h3>
            </div>
            <div class="col-12 col-sm-auto mt-2 mt-sm-0 ">
                <a class="btn btn-themed rounded-pill" href="{% url "expensesapp:new_claim" %}"><i class="fa fa-plus"></i> &nbsp;New Claim</a>
            </div>
        </div>
        <div class="row">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Claimant</th>
                        <th scope="col">Registration Date</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for claim in claim_list %}
                    <tr>
                        <td>{{ claim.owner.first_name }} {{ claim.owner.last_name }}</td>
                        <td>{{ claim.creation_datetime.date }}</td>
                        <td>{{ claim.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        // Set the navbar home link to active
        description_input_element = document.getElementById("home-link");
        description_input_element.classList.add("active");
    </script>

{% endblock %}
