{% extends "expensesapp/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>Manager</h3>
        </div>
        <div class="row">
            <p>Claims that you can authorise will be listed here.</p>
            <p>Only staff with permission to authorise claims will be shown here.</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        // Set the navbar home link to active
        description_input_element = document.getElementById("manager-link");
        description_input_element.classList.add("active");
    </script>

{% endblock %}