{% extends "expensesapp/receipt_details.html" %}

{% block header %}

    <div class="row">
        <div class="col-12 col-md-auto">
            <h1 class="mb-0">{{ receipt|title }} <span class="badge bg-warning">Editing</span></h1>
        </div>
    </div>

{% endblock %}

{% block form_items %}

    <div class="row mt-2">
        <div class="col">
            <form id="edit-form" action="{% url "expensesapp:receipt_edit" receipt.reference %}" method="post">
                {% csrf_token %}

                <dl class="row">
                    <dt class="col-sm-4">Registration</dt>
                    <dd class="col-7 col-sm-8">{{ receipt.creation_datetime }}</dd>
                    <dt class="col-sm-4">Parent Claim</dt>
                    <dd class="col-7 col-sm-8 mb-3">
                        <a href="{% url "expensesapp:claim_details" receipt.claim.reference %}">
                            {{ receipt.claim|title }}
                        </a>
                    </dd>

                    <dt class="col-12 col-sm-4">Date Incurred</dt>
                    <dd class="col-12 col-sm-8 mt-1 mt-sm-0 mb-3">
                        {{ receipt_edit_form.date_incurred }}
                        {% for error in receipt_edit_form.date_incurred.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </dd>

                    <dt class="col-12 col-sm-4">Category</dt>
                    <dd class="col-12 col-sm-8 mt-1 mt-sm-0 mb-3">
                        {{ receipt_edit_form.category }}
                    </dd>

                    <dt class="col-12 col-sm-4">Amount</dt>
                    <dd class="col-12 col-sm-8 mt-1 mt-sm-0 mb-3">
                        {{ receipt_edit_form.amount }}
                        {% for error in receipt_edit_form.amount.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <div id="amount-describer" class="form-text">Amount includes {{ receipt.claim.currency.get_vat_name_display }}.</div>
                    </dd>

                    <dt class="col-12 col-sm-4">{{ receipt.claim.currency.get_vat_name_display }}</dt>
                    <dd class="col-12 col-sm-8 mt-1 mt-sm-0 mb-3">
                        {{ receipt_edit_form.vat }}
                        {% for error in receipt_edit_form.vat.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {% for error in receipt_edit_form.non_field_errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </dd>

                    <dt class="col-12 col-sm-4">Description</dt>
                    <dd class="col-12 col-sm-8 mt-1 mt-sm-0 mb-3">
                        {{ receipt_edit_form.description }}
                        {% for error in receipt_edit_form.description.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <div id="description-describer" class="form-text">The description can be up to 50 characters long.</div>
                    </dd>
                </dl>
            </form>
        </div>
    </div>

{% endblock %}

{% block edit_buttons %}

    <div class="row">
        <div class="col">
            <div class="row justify-content-end">
                <div class="col-auto text-nowrap">
                    <a class="btn btn-secondary" href="{% url "expensesapp:receipt_details" receipt.reference %}">
                        <i class="fas fa-undo symbol-secondary"></i> Discard Changes
                    </a>
                </div>
                <div class="col-auto text-nowrap submit-with-symbol">
                    <i class="fas fa-save text-white"></i>
                    <input class="btn btn-primary text-white" form="edit-form" type="submit" value="Save Changes">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
      // Manual override of the 'date_incurred' form field to implement Bootstrap formatting
      date_incurred_elem = document.getElementById("{{ receipt_edit_form.date_incurred.id_for_label }}");
      date_incurred_elem.classList.add("form-control");
      {% if receipt_edit_form.date_incurred.errors %}
        date_incurred_elem.classList.add("is-invalid");
      {% else %}
        date_incurred_elem.classList.add("border-warning");
      {% endif %}

      // Manual override of the 'category' form field to implement Bootstrap formatting
      category_elem = document.getElementById("{{ receipt_edit_form.category.id_for_label }}");
      category_elem.classList.add("form-control");
      category_elem.classList.add("border-warning");

      // Manual override of the 'amount' form field to implement Bootstrap formatting
      amount_elem = document.getElementById("{{ receipt_edit_form.amount.id_for_label }}");
      amount_elem.classList.add("form-control");
      amount_elem.setAttribute("aria-describedby", "amount-describer");
      {% if receipt_edit_form.amount.errors %}
        amount_elem.classList.add("is-invalid");
      {% else %}
        amount_elem.classList.add("border-warning");
      {% endif %}

      // Manual override of the 'vat' form field to implement Bootstrap formatting
      vat_elem = document.getElementById("{{ receipt_edit_form.vat.id_for_label }}");
      vat_elem.classList.add("form-control");
      {% if receipt_edit_form.vat.errors or receipt_edit_form.non_field_errors %}
        vat_elem.classList.add("is-invalid");
      {% else %}
        vat_elem.classList.add("border-warning");
      {% endif %}

      // Manual override of the 'description' form field to implement Bootstrap formatting
      description_elem = document.getElementById("{{ receipt_edit_form.description.id_for_label }}");
      description_elem.classList.add("form-control");
      description_elem.setAttribute("aria-describedby", "description-describer");
      {% if receipt_edit_form.description.errors %}
        description_elem.classList.add("is-invalid");
      {% else %}
        description_elem.classList.add("border-warning");
      {% endif %}


    </script>

{% endblock %}
