{% extends "expensesapp/base.html" %}

{% block content %}

    <div class="container overflow-hidden" id="hide-on-loading">
        <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-7 col-xl-6 pb-1 border rounded">
                <div class="row mt-2">
                    <h1>New Receipt</h1>
                </div>
                <form action="{% url "expensesapp:receipt_new" claim.reference %}" method="post"
                      enctype="multipart/form-data" onsubmit="showLoading()">
                    {% csrf_token %}
                    {{ receipt_new_form.claim }}

                    <div class="mb-3">
                        <label for="{{ receipt_new_form.date_incurred.id_for_label }}" class="form-label">
                            Date incurred
                        </label>
                        {{ receipt_new_form.date_incurred }}
                        {% for error in receipt_new_form.date_incurred.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ receipt_new_form.category.id_for_label }}" class="form-label">Category</label>
                        {{ receipt_new_form.category }}
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 mb-3">
                            <label for="{{ receipt_new_form.amount.id_for_label }}">Amount</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    {{ claim.currency.symbol }}
                                </span>
                                {{ receipt_new_form.amount }}
                                {% for error in receipt_new_form.amount.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="amount-describer" class="form-text">
                            Amount includes {{ claim.currency.get_vat_name_display }}.
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mb-3">
                            <label for="{{ receipt_new_form.vat.id_for_label }}">{{ claim.currency.get_vat_name_display }}</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    {{ claim.currency.symbol }}
                                </span>
                                {{ receipt_new_form.vat }}
                                {% for error in receipt_new_form.vat.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                                {% for error in receipt_new_form.non_field_errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="{{ receipt_new_form.description.id_for_label }}" class="form-label">
                            Description <span class="text-muted">(optional)</span>
                        </label>
                        {{ receipt_new_form.description }}
                        {% for error in receipt_new_form.description.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <div id="description-describer" class="form-text">
                            The description can be up to 50 characters long.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="{{ receipt_new_form.file.id_for_label }}" class="form-label">
                            Image
                        </label>
                        {{ receipt_new_form.file }}
                        {% for error in receipt_new_form.file.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row justify-content-end gy-2 mb-2">
                        <div class="col-auto">
                            <a class="btn btn-secondary" href="{% url "expensesapp:claim_details" claim.reference %}">
                                Cancel
                            </a>
                        </div>
                        <div class="col-auto">
                            <input class="btn btn-primary text-white" type="submit" value="Upload">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

      $(document).ready(function () {

        // Manual override of the 'date_incurred' form field to implement Bootstrap formatting.
        let date_incurred_elem = document.getElementById("{{ receipt_new_form.date_incurred.id_for_label }}");
        date_incurred_elem.classList.add("form-control");
        date_incurred_elem.setAttribute("placeholder", "YYYY-MM-DD");
        {% if receipt_new_form.date_incurred.errors %}
          date_incurred_elem.classList.add("is-invalid");
        {% endif %}

        // Manual override of the 'category' form field to implement Bootstrap formatting.
        let category_elem = document.getElementById("{{ receipt_new_form.category.id_for_label }}");
        category_elem.classList.add("form-select");

        // Manual override of the 'amount' form field to implement Bootstrap formatting.
        let amount_elem = document.getElementById("{{ receipt_new_form.amount.id_for_label }}");
        amount_elem.classList.add("form-control");
        amount_elem.setAttribute("aria-describedby", "amount-describer");
        {% if receipt_new_form.amount.errors %}
          amount_elem.classList.add("is-invalid");
        {% endif %}

        // Manual override of the 'vat' form field to implement Bootstrap formatting.
        let vat_elem = document.getElementById("{{ receipt_new_form.vat.id_for_label }}");
        vat_elem.classList.add("form-control");
        {% if receipt_new_form.vat.errors or receipt_new_form.non_field_errors %}
          vat_elem.classList.add("is-invalid");
        {% endif %}

        // Manual override of the 'description' form field to implement Bootstrap formatting.
        let description_elem = document.getElementById("{{ receipt_new_form.description.id_for_label }}");
        description_elem.classList.add("form-control");
        description_elem.setAttribute("aria-describedby", "description-describer");
        {% if receipt_new_form.description.errors %}
          description_elem.classList.add("is-invalid");
        {% endif %}

        // Manual override of the 'file' form field to implement Bootstrap formatting.
        let file_elem = document.getElementById("{{ receipt_new_form.file.id_for_label }}");
        file_elem.classList.add("form-control");
        {% if receipt_new_form.file.errors %}
          file_elem.classList.add("is-invalid");
        {% endif %}

      });

      function showLoading() {
        let elem_to_hide = document.getElementById("hide-on-loading");
        let elem_to_show = document.getElementById("show-on-loading");
        elem_to_hide.classList.add("d-none");
        elem_to_show.classList.remove("d-none");
      }

    </script>

{% endblock %}