{% extends "expensesapp/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>Settings</h3>
        </div>
        <div class="row">
            <p>Settings will be here.</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        // Set the navbar home link to active
        description_input_element = document.getElementById("settings-link");
        description_input_element.classList.add("active");
    </script>

{% endblock %}