{% extends "expensesapp/base.html" %}

{% block content %}

    <div class="container">
        <h1>Your Expenses</h1>
        <hr>
        {% if not request.user.primary_manager %}
            <div class="row">
                <div class="col-auto alert alert-warning pb-1" role="alert">
                    <h4><i class="fas fa-exclamation-triangle"></i> &nbsp;You have not been assigned a manager</h4>
                    <p>Before they can be sent to the expenses team, your expenses claims must be approved by your
                        manager.
                        Please contact IT support so this issue can be resolved.</p>
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-center gy-3 d-md-none">
            {% for claim in claim_categories %}
                <div class="col-6 col-sm-4 d-grid gap-2 d-block">
                    <a class="btn {% if claim.name|lower == category %}btn-primary {% else %}btn-secondary{% endif %} position-relative pe-4"
                       href="{% url "expensesapp:your_expenses" claim.name|lower 1 %}">
                        {{ claim.name }}
                        {% if claim.count %}
                            <span class="position-absolute top-50 end-0 translate-middle-y me-2 badge bg-status-{{ claim.name|lower }}">
                                {{ claim.count }}
                            </span>
                        {% else %}
                            <div class="position-absolute top-50 end-0 translate-middle-y me-2 badge bg-white opacity-25">
                                {{ claim.count }}
                            </div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row gy-3 d-none d-md-flex">
            {% for claim in claim_categories %}
                <div class="col-auto">
                    <a class="btn {% if claim.name|lower == category %}btn-primary text-white{% else %}btn-secondary{% endif %} position-relative"
                       href="{% url "expensesapp:your_expenses" claim.name|lower 1 %}">
                        {{ claim.name }}
                        {% if claim.count %}
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-status-{{ claim.name|lower }}">
                                {{ claim.count }}
                            </span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row justify-content-between align-items-center gy-1">
            <div class="col-auto">
                <h2 class="mb-0">{{ category|title }} Claims</h2>
            </div>
            <div class="col">
                <div class="row justify-content-end">
                    <div class="col-auto text-nowrap">
                        <a class="btn btn-themed rounded-pill" href="{% url "expensesapp:claim_new" %}">
                            <i class="fas fa-plus"></i> New Claim
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mb-3">
            {% if claim_list %}
                <p class="mb-2">
                    <span class="d-sm-none">Tap</span>
                    <span class="d-none d-sm-inline-flex ">Click</span>
                    an expenses claim to view more details.
                </p>
                <div class="col px-0">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover table-primary mb-0">
                                <thead>
                                <tr>
                                    <th scope="col" class="d-none d-md-table-cell">Reference</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="d-none d-sm-table-cell">
                                        {% if category == "all" %}
                                            Last status update
                                        {% elif category == "draft" %}
                                            Creation date
                                        {% elif category == "pending" %}
                                            Submission date
                                        {% elif category == "sent" %}
                                            Sent date
                                        {% elif category == "accepted" %}
                                            Accept date
                                        {% elif category == "archived" %}
                                            Archive date
                                        {% endif %}
                                    </th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Dates incurred</th>
                                    <th scope="col">Total amount</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for claim in claim_list %}
                                    <tr class="clickable-row"
                                        data-href="{% url "expensesapp:claim_details" claim.reference %}">
                                        <td class="d-none d-md-table-cell">{{ claim.reference }}</td>
                                        <td>
                                    <span class="badge rounded-pill badge-status bg-status-{{ claim.get_status_display|lower }}">
                                        {{ claim.get_status_display }}
                                    </span>
                                        </td>
                                        <td class="d-none d-sm-table-cell">{{ claim.status_update_datetime|date:"jS M, Y" }}</td>
                                        <td>{{ claim.description }}</td>
                                        <td>{{ claim.get_string_dates_incurred }}</td>
                                        <td>{{ claim.get_string_total_amount }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="mt-5">You have no "{{ category }}" expenses claims.</p>
                <hr>
            {% endif %}
        </div>
        {% if clickable_pages %}
            <nav class="mt-3 mb-3">
                <ul class="pagination justify-content-center">
                    {% if newest_page %}
                        <li class="page-item">
                            <a class="page-link" href="{% url "expensesapp:your_expenses" category newest_page %}">
                                <span>Newest</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if previous_page %}
                        <li class="page-item">
                            <a class="page-link" href="{% url "expensesapp:your_expenses" category previous_page %}">
                                <span><i class="fas fa-chevron-left"></i></span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page_num in clickable_pages %}
                        {% if page_num == current_page %}
                            <li class="page-item active">
                                {% else %}
                            <li class="page-item">
                        {% endif %}
                    <a class="page-link"
                       href="{% url "expensesapp:your_expenses" category page_num %}">{{ page_num }}</a></li>
                    {% endfor %}
                    {% if next_page %}
                        <li class="page-item">
                            <a class="page-link" href="{% url "expensesapp:your_expenses" category next_page %}">
                                <span><i class="fas fa-chevron-right"></i></span>
                            </a>
                        </li>
                    {% endif %}
                    {% if oldest_page %}
                        <li class="page-item">
                            <a class="page-link" href="{% url "expensesapp:your_expenses" category oldest_page %}">
                                <span>Oldest</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

    <script>

      $(document).ready(function () {

        // Set the navbar home link to active
        let description_input_element = document.getElementById("your-expenses-link");
        description_input_element.classList.add("active");

      });

      // Make the rows in the table clickable using jQuery
      {% if claim_list %}
        jQuery(document).ready(function ($) {
          $(".clickable-row").click(function () {
            window.location = $(this).data("href");
          });
        });
      {% endif %}

    </script>

{% endblock %}
