{% extends "registration/base.html" %}

{% block content %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="form-floating">
                    {% if next %}
                        {% if user.is_authenticated %}
                            <div class="row">
                                <div class="col-auto">
                                    <div class="alert alert-danger py-2">
                                        Your account doesn't have access to this page. To proceed, please login with an account that has access.
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-auto">
                                    <div class="alert alert-danger py-2">
                                        Please login to see this page.
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if form.errors %}
                        <div class="row">
                            <div class="col-auto">
                                <div class="alert alert-danger py-2">
                                Your username and password didn't match. Please try again.
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <h3 class="mb-3">FDM Expenses Portal Staff Login</h3>
                    <div class="form-floating mb-3">
                        {{ form.username }}
                        <!-- CSS left property is overwritten to correct a positioning issue -->
                        <label for="{{ form.username.id_for_label }}" style="left: auto">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password }}
                        <!-- CSS left property is overwritten to correct a positioning issue -->
                        <label for="{{ form.password.id_for_label }}" style="left: auto">Password</label>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <input class="btn btn-primary px-4" type="submit" value="Login">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>

{% endblock %}

{% block scripts %}

    <script>
        // Manual override of the 'username' form field to implement Bootstrap floating label
        description_input_element = document.getElementById("{{ form.username.id_for_label }}");
        description_input_element.classList.add("form-control");
        description_input_element.placeholder = "Username";

        // Manual override of the 'password' form field to implement Bootstrap floating label
        description_input_element = document.getElementById("{{ form.password.id_for_label }}");
        description_input_element.classList.add("form-control");
        description_input_element.placeholder = "Password";
    </script>

{% endblock %}