{% extends "expensesapp/base.html" %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            {% if next %}
                {% if user.is_authenticated %}
                    <div class="col-auto">
                        <div class="alert alert-warning">
                            Your account doesn't have access to this page. To proceed, please login with an account that has access.
                        </div>
                    </div>
                {% else %}
                    <div class="col-auto">
                        <div class="alert alert-warning">
                            Please login to see this page.
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if form.errors %}
                <div class="col-auto">
                    <div class="alert alert-danger mx-0">
                    Your username and password didn't match. Please try again.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-auto p-3 pb-2 border border-primary rounded bg-light">
                    <table>
                        <tr>
                            <td>
                                {{ form.username.label_tag }}&nbsp;
                            </td>
                            <td>
                                {{ form.username }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.password.label_tag }}&nbsp;
                            </td>
                            <td>
                                {{ form.password }}
                            </td>
                        </tr>
                    </table>
                    <div class="row mt-2 justify-content-center">
                        <div class="col-auto">
                            <input class="btn btn-primary" type="submit" value="login">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>

{% endblock %}