@use "sass:map";

$dark: #202025;
$primary: #a4def7;
$secondary: #cccccc;
$warning: #ff7200;

@import "../vendor/bootstrap/scss/bootstrap";

$fdm-blue: #1daded;
$primary-symbol-dark: #2889b2;
$secondary-symbol-dark: #666666;
$status-draft: #8820bb;
$status-pending: #1541c8;
$status-sent: #07711e;

#standard-body {
  // This margin accounts for the navbar height
  margin-top: 80px;
}

.navbar {
  border-top-style: solid;
  border-color: $fdm-blue;
}

.info-background {
  background-color: $fdm-blue;
}

.btn-themed {
  background: linear-gradient(40deg, #1541c8 0px, #8820bb 100%);
  color: white;
  -webkit-text-fill-color: white;
  transition: none;
}

.btn-themed:hover {
  background: linear-gradient(40deg, #2c54cd 0px, #9f4cc8 100%);
}

.form-floating label {
  left: auto;
}

.symbol-primary {
  color: $primary-symbol-dark;
}

.symbol-secondary {
  color: $secondary-symbol-dark;
}

.submit-with-symbol i {
  position: relative;
  left: 32px;
  margin-left: -18px;
  top: 2px;
  pointer-events: none;
}

.submit-with-symbol input {
  padding-left: 32px
}

.badge-status {
  font-size: small;
}

.bg-status-draft {
  background: $status-draft;
}

.bg-status-pending {
  background: $status-pending;
}

.bg-status-sent {
  background: $status-sent;
}