@use "sass:map";

$dark: #202025;
$primary: #1daded;
$secondary: #cccccc;
$warning: #ff8d31;

@import "../vendor/bootstrap/scss/bootstrap";

$fdm-blue: #1daded;
$secondary-symbol-dark: #666666;
$status-draft: #8820bb;
$status-pending: #1541c8;
$status-sent: #29989e;
$status-accepted: #327f05;
$status-rejected: #cc0000;

#standard-body {
  // This margin accounts for the navbar height
  margin-top: 65px;
  display: none;
}

.navbar {
  border-top-style: solid;
  border-color: $fdm-blue;
}

.info-background {
  background-color: $fdm-blue;
}

.btn-themed {
  background: linear-gradient(40deg, #1541c8 0px, #8820bb 100%);
  color: white;
  -webkit-text-fill-color: white;
  transition: none;
}

.btn-themed:hover {
  background: linear-gradient(40deg, #2c54cd 0px, #9f4cc8 100%);
}

.form-floating label {
  left: auto;
}

.symbol-secondary {
  color: $secondary-symbol-dark;
}

.submit-with-symbol i {
  position: relative;
  left: 32px;
  margin-left: -18px;
  top: 2px;
  pointer-events: none;
}

.submit-with-symbol input {
  padding-left: 32px
}

.badge-status {
  font-size: medium;
  font-weight: normal;
}

.bg-status-draft {
  background: $status-draft;
}

.bg-status-pending {
  background: $status-pending;
}

.bg-status-sent {
  background: $status-sent;
}

.bg-status-accepted {
  background: $status-accepted;
}

.bg-status-rejected {
  background: $status-rejected;
}

.bg-status-all {
  background: black;
}

.opaque-toast {
  background-color: rgba(255, 255, 255, 1)
}